.team-member {
    width: 75%;
    padding: 20px;
    background: darkgrey;
    margin: .25% auto;  
}

.team-member img {
    margin: 1%;
    float: left;
    background-size: cover;
    background-position: center;
    max-width: 10%;
    max-height: 10%
}