body {
	background: white;
	font-family: sans-serif;
}

header {
	background: #202020;
	padding: 1%;
	margin: 1%;;
}

h1 {
	color: white;
	font-size: 400%;
	letter-spacing: .5em;
	text-align: center;
}

nav {
	text-align: center;
}

nav li {
	display: inline;
	list-style-type: none;
	color: white;
	margin: .25%;
	font-size: 150%;
}

nav a {
	text-decoration: none;
	color: silver;
}

nav a:hover {
	color: white;
}


/*.profile-pic {
	width: 25%;
	margin: 1%;
}*/

.profile-name {
	letter-spacing: .75em;
	text-transform: uppercase;
	text-align: center;
	margin: 1%;
}

.profile-text {
	text-align: justify;
	margin: 1% auto;
	width: 75%;
}

.team-member {
    width: 50%;
    padding: 1em;
    background: darkgrey;
    margin: 1% auto;
    display: flex;
}

.team-member div {
	display: flex;
	flex-direction: column;
}

.team-member a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.team-member a:hover {
	color: white;
}

.team-member img {
    margin: 1%;
    /*float: left;
    background-size: cover;
    background-position: center;*/
    width: 20%;
    height: 20%
}


.img-pic {
	display: inline-block;
	float: left;
}

.profile-name{
	display: inline;
	float: right;
}

.footer {
	border: 2px solid black;
	padding: 10px 5px 0 5px;
	background-color: orange;
}

footer > p {
	padding: 0 0 0 10px;
}

#nss-info {
	padding: 0 5px 10px 5px;
	width: 80%;
}


.footer-image {
	max-width: 4%;
	max-height: 4%;
	display: inline-block;
	float: left;
	padding: 0 10px 0 0;
}